<h1>Pokemon</h1>

<%= link_to 'New Pokemon', '/pokemon/new' %>

<ul class="roster">
    <% for pokemon in @pokemon_list %>
    <li>
        <section>
            <%= image_tag pokemon.image_url.to_s, class:'avatar' %>
        </section>
        <section>
            <h4><%= pokemon.name %></h4>
            <p>(<%= pokemon.types %>)</p>
            <p><%= pokemon.description %></p>
            <p>
                <%= link_to 'Show details', '/pokemon/' + String(pokemon.id) %>
                &nbsp;
                <%= link_to 'Edit', '/pokemon/' + String(pokemon.id) + '/edit' %>
                &nbsp;
                <%= link_to 'Delete', '/pokemon/' + String(pokemon.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </p>
        </section>
    </li>
    <% end %>
</ul>
