<%= link_to 'Back', pokemon_index_path %>

<h1>New Pokemon</h1>

<%= form_for :pokemon, url: '/pokemon' do |form| %>

    <fieldset>
        <%= form.label :name %>
        <%= form.text_field :name %>

        <%= form.label :description %>
        <%= form.text_area :description %>

        <%= form.label :image %>
        <%= form.file_field :image %>
    </fieldset>

    <fieldset>
        <label for="pokemon[abilities]">Abilities (one per line)</label>
        <%= form.text_area :abilities %>

        <label>Type(s)</label>
        <fieldset class="block-set">
            <% @types.each do |type| %>
                <p><%= form.check_box 'type_' + type %> <%= type.capitalize() %></p>
            <% end %>
        </fieldset>

        <label>Weakness(es)</label>
        <fieldset class="block-set">
            <% @types.each do |weakness| %>
                <p><%= form.check_box 'weak_' + weakness %> <%= weakness.capitalize() %></p>
            <% end %>
        </fieldset>
    </fieldset>

    <%= form.submit %>

<% end %>
