<%= link_to 'Back', pokemon_index_path %>

<h1>New Pokemon</h1>

<%= form_for @pokemon, url: '/pokemon' do |form| %>

    <!--Error messages-->
    <% if @pokemon.errors.any? %>
    <div class="msg-err">
      <h2>
        <%= pluralize(@pokemon.errors.count, "error") %> prevented this Pokemon from being saved:
      </h2>
      <ul>
        <% @pokemon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <fieldset>
        <%= form.label :name %>
        <%= form.text_field :name %>

        <%= form.label :description %>
        <%= form.text_area :description %>

        <%= form.label :image %>
        <%= form.file_field :image %>
    </fieldset>

    <fieldset>
        <label for="pokemon[abilities]">Abilities (one per line)</label>
        <%= form.text_area :abilities %>

        <label>Type(s)</label>
        <fieldset class="block-set">
            <% for type in @types %>
                <p><input type="checkbox" name="pokemon[<%= 'type_' + type %>]" id="pokemon_<%= 'type_' + type %>" /><%= type.capitalize() %></p>
            <% end %>
        </fieldset>

        <label>Weakness(es)</label>
        <fieldset class="block-set">
            <% for weakness in @types %>
            <p><input type="checkbox" name="pokemon[<%= 'weak_' + weakness %>]" /><%= weakness.capitalize() %></p>
            <% end %>
        </fieldset>
    </fieldset>

    <%= form.submit %>

<% end %>
