<%= link_to 'Back', pokemon_index_path %>

<h1>New Pokemon</h1>

<%= form_for :pokemon, url: '/pokemon' do |form| %>

    <fieldset>
        <%= form.label :name %>
        <%= form.text_field :name %>

        <%= form.label :description %>
        <%= form.text_area :description %>
    </fieldset>

    <fieldset>
        <label for="pokemon[abilities]">Abilities (one per line)</label>
        <%= form.text_area :abilities %>

        <label>Type(s)</label>
        <fieldset class="block-set">
            <p><%= form.check_box :type_bug %> Bug</p>
            <p><%= form.check_box :type_dragon %> Dragon</p>
            <p><%= form.check_box :type_fairy %> Fairy</p>
            <p><%= form.check_box :type_fighting %> Fighting</p>
        </fieldset>

        <label>Weakness(es)</label>
        <fieldset class="block-set">
            <p><%= form.check_box :weak_bug %> Bug</p>
            <p><%= form.check_box :weak_dragon %> Dragon</p>
            <p><%= form.check_box :weak_fairy %> Fairy</p>
            <p><%= form.check_box :weak_fighting %> Fighting</p>
        </fieldset>
    </fieldset>

    <%= form.submit %>

<% end %>
