<%= link_to 'Back', pokemon_index_path %>

<h1><%= @pokemon.name %></h1>
<%= image_tag @pokemon.image_url.to_s, class:'avatar' %>

<h4>Description</h4>
<p>
    <%= @pokemon.description %>
</p>

<h4>Abilities</h4>
<p>
    <%= @pokemon.abilities %>
</p>

<h4>Types</h4>
<p>
    <%= @pokemon.types %>
</p>

<h4>Weaknesses</h4>
<p>
    <%= @pokemon.weaknesses %>
</p>
